<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/assets/css/login.css">
</head>
<body>
        <h1 style="text-align: center;">We have received your message</h3>
        <h3 style="text-align: center;">We would be in touch soon</h3>
        <h2 style="text-align: center;">Thank you</h2>
<div class="login">
    <form action="" method="">
        <button type="submit"> <a href="http://127.0.0.1:5000/index.html">Back</a>
        </button>


    </form>
    


</div>
        
        
</body>
</html>